<MudItem xs="2">
    <MudPaper style="min-width:200px">
        <div style="@GetStyle()" @onclick=CountUp @oncontextmenu=CountDown @oncontextmenu:preventDefault="true">
            <MudText style="@GetTextStyle()">@Value</MudText>
        </div>
    </MudPaper>
</MudItem>