<MudItem xs="2">
    <MudPaper>
        <div style="@GetStyle()" @onclick=CountUp @oncontextmenu=CountDown @oncontextmenu:preventDefault="true">
            <MudText Typo="Typo.h6">@Value</MudText>
        </div>
    </MudPaper>
</MudItem>